label.rvm_label {
	width: 18%;
	min-width: 100px;
	display: inline-block;
}

input.rvm_region_links {
	width: 70%;
	min-width: 300px;
}

.preview-map-container {
	height:400px;
	margin-bottom: 50px;	
}

#rvm_regions, #rvm_regions_from_db {
	margin-top: 20px;
}

#preview_button, #close_preview_button {
	float: left ;	
}

#preview_button {
	margin-right: 5px;	
}

.rvm_clear_left {
	clear: left;	
}

