.rvm_label {
	display:inline-block;
	vertical-align:top;
	width:10%;
	min-width:150px
}

input.rvm_region_links {
	margin-right:10px;
	vertical-align:top
}

.preview-map-container {
	height:400px;
	margin-bottom:50px
}

#rvm_regions_countries h4 span,#rvm_markers h4 span {
	font-weight:400;
	font-size:.9em
}

#rvm_regions,#rvm_regions_from_db {
	margin-top:10px
}

#rvm_regions_from_db {
	clear:both
}

#preview_button,#close_preview_button {
	float:right
}

#preview_button {
	margin-left:5px
}

.rvm_clear_left {
	clear:left
}

.rvm_clear_both {
	clear:both
}

#rvm_mbe_fields_wrap {
	margin:10px 0
}

.rvm_markers {
	padding:5px;
	border:1px solid #DDD;
	margin-top:10px;
	float:left;
	margin-right:2%
}

#rvm_mbe_add_field_button {
	float:left
}

.rvm_small_text {
	font-size:9px
}

#rvm_tabs ul,#rvm_tabs ul li {
	display:inline-block
}

#rvm_tabs ul li {
	margin:0;
	padding:10px;
	position:relative;
	border-bottom:none;
	border-top:1px solid #CCC;
	border-right:1px solid #CCC;
	background:#F1F1F1
}

#rvm_main_settings_tab {
	border-left:1px solid #CCC
}

#rvm_tabs ul {
	border-bottom:1px solid #CCC;
	position:relative;
	width:100%;
	z-index:9
}

#rvm_tabs ul li a,#rvm_tabs ul li a:focus {
	text-decoration:none;
	outline:0 none;
	box-shadow:none
}

#rvm_mbe_select_map {
	text-transform:capitalize
}

div.rvm_active {
	display:block
}

#rvm_tabs ul li.rvm_active {
	z-index:10;
	top:1px;
	padding-top:11px;
	background:#FFF
}

#rvm_dim_min_value_wrapper,#rvm_dim_max_value_wrapper,#rvm_bg_color_wrapper,#rvm_border_color_wrapper {
	float:left;
	width:100%
}

#rvm_settings_wrap {
	margin-top:20px
}

#rvm_settings_wrap h3 {
	padding-left:0
}

#rvm_donation {
	margin-top:30px
}

.rvm_donate_link {
	display:inline-block
}

#rvm_region_table th {
	text-align:left
}

#rvm_region_bg_col {
	min-width:175px
}

#rvm_mbe_custom_map_wrapper h3.rvm_custom_map_filename_title {
	padding-left:0
}

#rvm_add_custom_map{
	font-style: italic;
}

#rvm_custom_map_filename {
	float:left;
	margin-right:5px
}

.jvectormap-container {
	min-width:100%;
	box-sizing:border-box
}

.rvm_cm_messages img {
	width:80px;
	float:left;
	margin-right:15px
}

.rvm_cm_messages span {
	display:block;
	margin: 15px
}

#rvm_download_custom_maps a {
    display: block;
    font-weight: bold;
    padding-left: 50px;
    padding-top: 5px;
}

.rvm_note {
    background-color: #ffffe0;
    border: 1px solid #e6db55;
    margin-top: 10px;
    padding: 10px;
}